<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.bradholland.bookmark" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.android.bradholland.bookmark.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.android.bradholland.bookmark.BookListActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.bookDetailActivity"
            android:label=" "
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.AddBookActivity"
            android:label="Add Book"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.DispatchActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.bradholland.bookmark.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name="com.android.bradholland.bookmark.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
    </application>

</manifest>
